# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/

# Environment variables — never commit
.env
!.env.example

# Node
node_modules/
dist/

# Mac
.DS_Store

# Docker
*.log

# Data
sagemaker/*/data/*.csv

# Model Training Artifacts
sagemaker/*/sentiment_model/*
sagemaker/*/model.tar.gz
